<html>
    <head>
        <title>Архив</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/my-note">Мои задачи</a></li>
            <li><a href="http://{{ host }}/add-note">Добавить задачу</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Архив. Законченные и отмененные задачи</h1>
        {% if empty %}
            <h2>{{ empty }}</h2>
        {% endif %}
        {% if notes %}
            <div id="notes">
            {% for item in notes.Data %}
                <div id="note">
                    <p class="title"><b>ID #{{ item.ID }} - {{ item.Title }}</b> Дата создания: {{ item.DateCreate }} </p>
                    <p class="note">Задача: {{ item.Value }}</p>
                    <p class="info">Изменено: {{ item.DateUpdate }}</p>
                    <p class="info">Ответственный: {{ item.User }}</p>
                    <p class="info">Время начала исполнения - {{ item.DateStart }}</p>
                    <p class="info">Статус - {{ item.Status }}</p>
                    <p>===================================================</p>
                </div>
            {% endfor %}
        {% endif%}
        </div>
    </body>
</html>