<html>
    <head>
        <title>Поступившие заказы</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/my-note">Мои задачи</a></li>
            <li><a href="http://{{ host }}/add-note">Добавить задачу</a></li>
            <li><a href="http://{{ host }}/archive">Архив</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Статистика: </h1>
        {% if error %}
            <h3>Ошибка зпроса, обновите страницу или повторите позже!</h3>
        {% endif %}
        {% if statistics %}
            <p>Количество открытых (новых) задач: {{ statistics.Data.NewNote }}</p>
            <p>Количество задач в работе: {{ statistics.Data.ActiveNote }}</p>
            <p>Количество завершенных задач: {{ statistics.Data.ReadyNote }}</p>
            <p>Количество отмененых задач: {{ statistics.Data.CancelNote }}</p>
            <p>Среднее время выполнения задачи: {{ statistics.Data.TimingWork }}</p>
        {% endif%}
    </body>
</html>